<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.blog.mapper.TbArticleMapper">

    <select id="selectView" resultType="java.lang.Integer">
        select sum(views) from tb_article
    </select>

    <select id="selectLike" resultType="java.lang.Integer">
        select sum(likes) from tb_article
    </select>
</mapper>

