<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.blog.dao.TbCategoryDao">

    <resultMap type="com.fanqie.blog.entity.TbCategory" id="TbCategoryMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="slug" column="slug" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbCategoryMap">
        select id,
               name,
               slug,
               description,
               created_at,
               updated_at
        from tb_category
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbCategoryMap">
        select
        id, name, slug, description, created_at, updated_at
        from tb_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="slug != null and slug != ''">
                and slug = #{slug}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="createdAt != null">
                and created_at = #{createdAt}
            </if>
            <if test="updatedAt != null">
                and updated_at = #{updatedAt}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from tb_category
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="slug != null and slug != ''">
                and slug = #{slug}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="createdAt != null">
                and created_at = #{createdAt}
            </if>
            <if test="updatedAt != null">
                and updated_at = #{updatedAt}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_category(name, slug, description, created_at, updated_at)
        values (#{name}, #{slug}, #{description}, #{createdAt}, #{updatedAt})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_category(name, slug, description, created_at, updated_at)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.slug}, #{entity.description}, #{entity.createdAt}, #{entity.updatedAt})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_category(name, slug, description, created_at, updated_at)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.slug}, #{entity.description}, #{entity.createdAt}, #{entity.updatedAt})
        </foreach>
        on duplicate key update
        name = values(name),
        slug = values(slug),
        description = values(description),
        created_at = values(created_at),
        updated_at = values(updated_at)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_category
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="slug != null and slug != ''">
                slug = #{slug},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from tb_category
        where id = #{id}
    </delete>

</mapper>

