<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fanqie.blog.dao.TbTagDao">

    <resultMap type="com.fanqie.blog.entity.TbTag" id="TbTagMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="slug" column="slug" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="color" column="color" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TbTagMap">
        select
id, name, slug, create_time, update_time, color, sort
        from tb_tag
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbTagMap">
        select
id, name, slug, create_time, update_time, color, sort
        from tb_tag
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="slug != null and slug != ''">
                and slug = #{slug}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="color != null and color != ''">
                and color = #{color}
            </if>
            <if test="sort != null and sort != ''">
                and sort = #{sort}
            </if>
        </where>
        limit #{pageable.offset}, #{pageable.pageSize}
    </select>

    <!--统计总行数-->
    <select id="count" resultType="java.lang.Long">
        select count(1)
        from tb_tag
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="slug != null and slug != ''">
                and slug = #{slug}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="color != null and color != ''">
                and color = #{color}
            </if>
            <if test="sort != null and sort != ''">
                and sort = #{sort}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_tag(name, slug, create_time, update_time, color, sort)
        values (#{name}, #{slug}, #{createTime}, #{updateTime}, #{color}, #{sort})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_tag(name, slug, create_time, update_time, color, sort)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.name}, #{entity.slug}, #{entity.createTime}, #{entity.updateTime}, #{entity.color}, #{entity.sort})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_tag(name, slug, create_time, update_time, color, sort)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.slug}, #{entity.createTime}, #{entity.updateTime}, #{entity.color}, #{entity.sort})
        </foreach>
        on duplicate key update
name = values(name),
slug = values(slug),
create_time = values(create_time),
update_time = values(update_time),
color = values(color),
sort = values(sort)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_tag
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="slug != null and slug != ''">
                slug = #{slug},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="color != null and color != ''">
                color = #{color},
            </if>
            <if test="sort != null and sort != ''">
                sort = #{sort},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from tb_tag where id = #{id}
    </delete>

</mapper>

